.restaurants {
  display: flex;
  flex-direction: column;
  gap: 16rem;
  margin-bottom: 121rem;

  &__title {
    color: var(--neutral-black, #2b2b43);
    font-size: 20rem;
    font-weight: 600;
    line-height: 28rem;
    letter-spacing: 0.1rem;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30rem;
  }
}
.restaurants-item {
  padding: 0;
  margin: 0;
  max-width: 350rem;
  width: 100%;
  border-radius: 16rem;
  border: 1rem solid var(--neutral-gray-lightest, #edeef2);
  background: var(--neutral-white, #fff);

  &__img {
    position: relative;
    width: 100%;
    margin-bottom: 16rem;
    border-top-left-radius: 16rem;
    border-top-right-radius: 16rem;

    & img {
      width: 100%;
      border-top-left-radius: 16rem;
      border-top-right-radius: 16rem;
    }
  }

  &__img-span {
    position: absolute;
    right: 0;
    padding: 8rem 16rem;
    color: var(--neutral-white, #fff);
    font-size: 11rem;
    font-weight: 700;
    line-height: 16rem;
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    border-radius: 0rem 16rem;
    background: var(--primary-default, #4e60ff);
    border-radius: 0px 16px;
  }

  &__info {
    padding: 0 16rem;
    gap: 14rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 14rem;
  }

  &__info-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: var(--neutral-black, #2b2b43);
    font-size: 18rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1rem;
  }

  &__cart {
    position: relative;
    width: 20rem;
    height: 20rem;

    svg {
      path:nth-child(1) {
        stroke: var(--primary-default, #4e60ff);
      }
      path:nth-child(2) {
        stroke: var(--primary-default, #4e60ff);
      }
      path:nth-child(3) {
        stroke: var(--primary-default, #4e60ff);
      }
    }
  }

  &__cart-zero {
    width: 20rem;
    height: 20rem;

    svg {
      path:nth-child(1) {
        stroke: var(--neutral-gray-light, #c7c8d2);
      }
      path:nth-child(2) {
        stroke: var(--neutral-gray-light, #c7c8d2);
      }
      path:nth-child(3) {
        stroke: var(--neutral-gray-light, #c7c8d2);
      }
    }
  }

  &__cart-span {
    color: var(--neutral-white, #fff);
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    line-height: 14rem;
    width: 16rem;
    height: 16rem;
    border: 1.5rem solid var(--primary-default, #4e60ff);
    border-radius: 6rem;
    color: #fff;
    background-color: var(--primary-default, #4e60ff);
    position: absolute;
    text-align: center;
    vertical-align: text-bottom;
    right: -30%;
    top: -30%;
  }

  &__info-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8rem;
  }

  &__clock {
    width: 12rem;
    height: 12rem;
  }

  &__time,
  &__price,
  &__category-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 16rem;
  }

  &__time,
  &__price {
    color: var(--neutral-gray, #83859c);
  }

  &__point {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: var(--primary-default, #4e60ff);
  }

  &__categories {
    padding: 0 16rem;
    display: flex;

    margin-bottom: 16rem;
    gap: 8rem;
  }

  &__category {
    padding: 4rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    border-radius: 100rem;
    background: var(--neutral-gray-lightest, #edeef2);
  }

  &__category-img {
    width: 12rem;
    height: 12rem;
    & img {
      width: 100%;
    }
  }

  &__category-title {
    color: var(--neutral-gray-dark, #545563);
  }
}
