<!-- <a routerLink="/">Home</a>
<a routerLink="profile">Profile</a> -->

<header class="header">
    <div class="header__container">
        <div class="header__left">
            <div class="header__logo">

            </div>
            <div class="header__search">
                <input type="text" class="header__search-input">
                <img src="" alt="" class="header__search-img">
            </div>
        </div>
        <div class="header__right">

        </div>

    </div>
</header>