:root {
    --ff: 'Nunito', sans-serif;

    --primary-default: #4E60FF;
    --primary-light: #F3F4FF;

    --secondary-default: #FD6D22;
    --secondary-light: #FFF3ED;

    --neutral-black: #2B2B43;
    --neutral-white: #FFF;

    --neutral-gray: #83859C;
    --neutral-gray-lightest: #EDEEF2;
    --neutral-gray-light: #C7C8D2;

    --transition: 0.2s all ease-in-out;
    // --transition-input: 0.3s all ease-in-out;
    // --transition-nav: 0.2s all ease-out;
    // --transform-nav: scale(1.2);
  
}